body {
    background-color: rgb(0, 8, 21);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

button {
    background-color: rgb(0, 8, 21);
    border-color: orange;
    color: orange;
    padding: 20px;
    transition: color 0.5s ease;
    transition: background-color 0.5s;
    transition: box shadow 0.5s;
    transition: transfrom 0.5s;
    border: 2px solid;
}

button:hover {
    border-color: yellow;
    color: white;
    cursor: pointer;
    box-shadow: 0 0.5em 0.5em -0.4em rgb(255, 255, 0);
    transform: translateY(-0.25em);
}